[Unit]
Description=SnokNAS Backend API
After=network.target

[Service]
User=root
WorkingDirectory=/opt/snoknas/backend
ExecStart=/usr/bin/python3 /opt/snoknas/backend/main.py
Restart=always

[Install]
WantedBy=multi-user.target
